@import "../../variables/variables.scss";

.cardHeader {
  background-color: $blueColor;
}

.columnGray1 {
  background-color: rgb(232, 234, 236);
}

.columnGray2 {
  background-color: rgb(250, 251, 253);
  padding-top: 2px;
}

.cardBody {
  padding-top: 1rem;
}

.card {
  display: flex;
}