.extended {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 433px; */
  margin-bottom: 25px;
  height: 75px;
  border: 2px solid black;
}

.extendedHeader {
  font-size: 12pt;
}